<h1>Hello</h1>
<p>This is teh view that is returned by the action_method hello in greeter_controller</p>
<p>The current time is <%= Time.now %></p>

<p>Random kid - <%= @kids.sample %></p>
<p><%= @times_page_loaded %></p>
